body {
    background-color: #19A1AE;
    background-image: url("Images/bg-pattern-top.svg"), url("Images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -20% 50%, 200% -25%;
    background-size: 60%, 80%;

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.main-container {
    background-color: white;
    max-width: 22rem;
    min-width: 20rem;
    min-height: auto;
    border-radius: 1rem;
}

.bg-pattern-card {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.profile-info {
    position: relative;
    border-bottom: 1px solid #E8E9EC;
}

.profile-picture {
    position: absolute;
    left: 120px;
    top: -70px;
    border-radius: 50%;
    border: 5px solid white;
}

h1 {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    padding-top: 3rem;
    margin-bottom: 0;
}

.age {
    padding-left: 0.5rem;
    font-weight: 400;
    color: #6B7082;
}

.profile-info p {
    text-align: center;
    color: #6B7082;
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}

.bottom-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bottom-section p {
    font-weight: 700;
    text-align: center;
    color: #2E3349;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.followers {
    padding-left: 3rem;
}

.likes {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.photos {
    padding-right: 3rem;
}

.bottom-section span {
    font-size: 0.75rem;
    font-weight: 400;
    color: #6B7082;
}